.DS_Store
app/app/*.js
app/node_modules/
silverstripe-cache/*
!/assets/
/assets/*
!/assets/Uploads/
/assets/Uploads/_resampled/*
_ss_environment.php
*.sublime-workspace
*.sublime-project
compass
vendor/*
docsviewer

framework/.sass-cache/*
framework/admin/.sass-cache/*

docsviewer
vendor

/vendor/*