<ul class="project-type-list">
	<li>
		<a href="#" data-type="Excursion" class="excursion">Excursion</a>
	</li>

	<li>
		<a href="#" data-type="Exhibition" class="exhibition">Exhibition</a>
	</li>

	<li>
		<a href="#" data-type="Project" class="project">Project</a>
	</li>

	<li>
		<a href="#" data-type="Workshop" class="workshop">Workshop</a>
	</li>
</ul>

<style type="text/css">
	form.create-project {
		position: absolute;
		left: 50%;
		top: 70%;
	}
</style>
<form class="create-project">
	<input type="text" name="title" placeholder="Title" />
	<button class="btn" type="submit">Create</button>
</form>
