<!-- article -->
<header data-editor-scope="\ProjectMain">
	<h1 data-editor-type="inline" data-editor-name="Title" data-editor-placeholder="Title">{{Title}}</h1>
	<div class="persons">
		{{#if CurrentMemberPerson}}
			{{#with CurrentMemberPerson}}
				{{FirstName}} {{Surname}}
			{{/with}}
		{{/if}}
		<div data-editor-type="select-person" data-editor-name="Person" data-editor-placeholder="Add Collaborators…"></div>
	</div>
	
	<!--<p>
	{{#if IsGroup}}
		Group project
	{{else}}
		{{{nameSummary Persons}}}
	{{/if}}
	</p>-->
	<p>{{niceDate this}}</p>
	{{#if Websites}}
		<p>{{{commaSeparatedWebsites Websites}}}</p>
	{{/if}}
</header>
<section data-editor-scope="\ProjectMain">

	<div data-editor-type="markdown-split" data-editor-name="Text" data-editor-options='{"customParsers": {"images": "ImageMarkdownParser", "embed": "OEmbedMarkdownParser"}}'>{{Text}}</div>

</section>
<aside data-editor-scope="\ProjectMain">
	{{#stringCompare "Project" ClassName}}
		<h1>Categories</h1>
		<ul data-editor-type="select-list" data-editor-name="Category" data-editor-placeholder="Add..."></ul>
	{{/stringCompare}}

	<h1>Projects</h1>
	<ul data-editor-type="select-list" data-editor-name="Project" data-editor-placeholder="Add…"></ul>

	{{#stringDiff "Exhibition" ClassName}}
		<h1>Exhibitions</h1>
		<ul data-editor-type="select-list" data-editor-name="Exhibition" data-editor-placeholder="Add…"></ul>
	{{/stringDiff}}

	{{#stringDiff "Workshop" ClassName}}
		<h1>Workshops</h1>
		<ul data-editor-type="select-list" data-editor-name="Workshop" data-editor-placeholder="Add…"></ul>
	{{/stringDiff}}

	{{#stringDiff "Excursion" ClassName}}
		<h1>Excursions</h1>
		<ul data-editor-type="select-list" data-editor-name="Excursion" data-editor-placeholder="Add…"></ul>
	{{/stringDiff}}

</aside>

<!-- /article -->