<header class="editor-header hideable">
	{{#with CurrentImage}}
		<div class="img" id="current-person-image" data-current-image-id="{{id}}">
			<img src="{{url}}">
		</div>
	{{/with}}
	<hgroup>
		<h1>{{#with Person}}{{FirstName}} {{Surname}}{{/with}}</h1>

		<p>{{Member.Email}}</p>
	</hgroup>
</header>
<section class="editor-sidebar-content scrollbox">
	<section>
		<h2>Images</h2>
		<ul class="image-list">
		</ul>
	</section>
	<section>
		<h2>Projects</h2>
		<ul class="project-list">
			<li><a href="#" data-bypass>Project Title</a></li>
			<li><a href="#" data-bypass>Project Title</a></li>
		</ul>
	</section>
</section>