<nav>
	<ul>
		<li>
			<a href="#" data-editor-sidebar-content="user" class="icon-user"><span>User</span></a>
		</li>
		<li>
			<a href="#" class="icon-logout"><span>Logout</span></a>
		</li>
	</ul>
	{{#if isEditor}}
		<ul>
			<li>
				<a href="#" data-editor-sidebar-content="gallery" class="icon-editor"><span>Editor</span></a>
			</li>
			<li>
				<a href="#" class="icon-switch"><span>Switch view</span></a>
			</li>
			<li>
				<a href="#" class="icon-publish"><span>Publish</span></a>
			</li>
		</ul>
	{{/if}}
</nav>

<div id="editor-sidebar-container">

</div>