<div id="uploadzone" class="dragover"></div>
<header class="editor-header">
	<h1>Images</h1>
	{{#if Projects}}
		<select class="filter">
			<option value="">--- Choose Project ---</option>
			{{#each Projects}}
				<option value="{{FilterID}}">{{Title}}</option>
			{{/each}}
		</select>
	{{/if}}
</header>
<section class="editor-sidebar-content scrollbox">
	{{#if Projects}}
		{{#each Projects}}
			<section data-filter-id="{{FilterID}}">
				<header>
					<h2>{{Title}}</h2>
				</header>
				<ul class="image-list"></ul>
					{{!-- Drop Zone --}}
			</section>
		{{/each}}
	{{/if}}
</section>