<!-- article -->
<header data-editor-scope="\ProjectMain">
	<h1 data-editor-type="inline" data-editor-name="Title" data-editor-placeholder="Title">{{Title}}</h1>
	<div data-editor-type="select" data-editor-Name="Test" data-editor-source='[{"id": 1, "title": "foo"},{"id": 2, "title": "bar"},{"id":3, "title": "foobar"}]'>bar,foo</div>
	<p>
	{{#if IsGroup}}
		Group project
	{{else}}
		{{{nameSummary Persons}}}
	{{/if}}
	</p>
	<p>{{niceDate this}}</p>
	{{#if Websites}}
		<p>{{{commaSeparatedWebsites Websites}}}</p>
	{{/if}}
</header>
<section data-editor-scope="\ProjectMain">

	<div data-editor-type="markdown-split" data-editor-name="Text" data-editor-options='{"customParsers": {"images": "ImageMarkdownParser"}}'>{{Text}}</div>

</section>
<aside data-editor-scope="\ProjectMain">
	Here project lists...
</aside>

<!-- /article -->