<header class="editor-header hideable">
	<div class="img" id="current-person-image">
		{{#if CurrentImage}}<img src="{{CurrentImage.url}}">{{/if}}
	</div>
	<hgroup>
		{{#if Person}}<h1>{{#with Person}}<a href="/about/{{UrlSlug}}/">{{FirstName}} {{Surname}}</a>{{/with}}</h1>{{/if}}

		{{#if Member}}<p class="email">{{Member.Email}}</p>{{/if}}
	</hgroup>
</header>
<section class="editor-sidebar-content scrollbox">
	<header>
		<h2>Person Images</h2>
	</header>
	<section>
		<ul class="image-list">
		</ul>
	</section>

	<header>
		<h2>Projects</h2>
	</header>
	<section>
		<ul class="project-list">
		</ul>
		<div>
			<a class="btn new-project" href="/secured/new/">Create Project</a>
		</div>
	</section>

	<header>
		<h2>Personal Information</h2>
	</header>
	<section class="meta-info" data-editor-scope="\CurrentPerson">
		<div id="bio">
			<h3>Bio</h3>
			<div data-editor-type="markdown" data-editor-name="Bio" data-editor-placeholder="your shitty life!" data-editor-options='{"customParsers":{}, "position":{"my": "right top", "at": "left top", "adjust": {"x": -24, "y": -15}}}'>{{Person.Bio}}</div>
		</div>
		<div>
			<h3>Phone</h3>
			<p data-editor-type="inline" data-editor-name="Phone">{{Person.Phone}}</p>
		</div>
		<div>
			<h3>Email</h3>
			<p data-editor-type="inline" data-editor-name="Email">{{Person.Email}}</p>
		</div>
	</section>

	<header>
		<h2>Websites</h2>
	</header>
	<section class="meta-info" data-editor-scope="\CurrentPerson">
		<div>
			<ul class="websites website-list">
			</ul>
			<a data-editor-type="modal" data-editor-name="Website" data-editor-fields='{"Title": {"type": "text"}, "Link": {"type": "text", "placeholder": "http://"}}' data-editor-options='{"position":{"my": "right top", "at": "left top", "adjust": {"x": -24, "y": -20}}}' class="btn" href="#" data-bypass data-editor-placeholder="Add Website"></a>
		</div>
	</section>

	<header>
		<h2>Settings</h2>
	</header>
	<section>
		<form class="user-settings">
			<input name="email" type="email" placeholder="Email" value="{{Member.Email}}" required>
			<input name="password" type="password" placeholder="Password">
			<input name="passwordconfirmed" type="password" placeholder="Confirm Password">

			<button class="btn" type="submit">Update Settings</button>
		</form>
	</section>
</section>