<header class="editor-header hideable">
	{{#if CurrentImage}}
		{{#with CurrentImage}}
			<div class="img" id="current-person-image" data-current-image-id="{{id}}">
				<img src="{{url}}">
			</div>
		{{/with}}
	{{/if}}
	<hgroup>
		{{#if Person}}<h1>{{#with Person}}{{FirstName}} {{Surname}}{{/with}}</h1>{{/if}}

		{{#if Member}}<p class="email">{{Member.Email}}</p>{{/if}}
	</hgroup>
</header>
<section class="editor-sidebar-content scrollbox">
	<header>
		<h2>Person Images</h2>
	</header>
	<section>
		<ul class="image-list">
		</ul>
	</section>

	<header>
		<h2>Projects</h2>
	</header>
	<section>
		<ul class="project-list">
			<li><a href="#" data-bypass>Project Title</a></li>
			<li><a href="#" data-bypass>Project Title</a></li>
		</ul>
	</section>

	<header>
		<h2>Settings</h2>
	</header>
	<section>
		<form class="user-settings">
			<input name="email" type="email" placeholder="Email" value="{{Member.Email}}" required>
			<input name="password" type="password" placeholder="Password">
			<input name="passwordconfirmed" type="password" placeholder="Confirm Password">

			<button class="btn" type="submit">Update Settings</button>
		</form>
	</section>
</section>