<section class="login">
	<a href="/" class="logo"><span></span></a>

	{{#if Email}}
		<p>
			You are logged in as <strong>{{Email}}</strong>.
		</p>
		<a href="/logout/" class="btn">Logout?</a>
	{{else}}

	<form>
		<label for="login-email">
			<span>E-Mail</span>
			<input type="text" name="email" placeholder="E-Mail" id="login-email" />
		</label>
		
		<label for="login-password">
			<span>Password</span>
			<input type="password" name="password" placeholder="Password" id="login-password" />
		</label>
		
		<label for="login-remember">
			<input type="checkbox" name="remember" id="login-remember" /> Remember me next time
		</label>

		<button class="doLogin btn" type="submit">
			Log in
		</button>
	</form>
	{{/if}}
</section>