<!-- section class="gravity" -->
{{#if GroupImage}}
	{{#with GroupImage.Urls._768}}
		<img src="{{Url}}" width="{{Width}}" height="{{Height}}" class="group-image gravity-item" />
	{{/with}}
{{/if}}

<section class="students gravity-item">
	<h1>Students</h1>
	<ul id="student-list"></ul>
</section>
<section class="alumni gravity-item">
	<h1>Alumni</h1>
	<ul id="alumni-list"></ul>
</section>
<section class="statement gravity-item">
	<p>The class <cite>New Media</cite> within the course <cite>Visual Communication</cite> at the <cite>School of Art and Design Kassel</cite> walks a fine line between art, design, provocation and study. The main focus lies on the media consumption of society and its perpetual obsession with technological progress, change and transformation; established processes and methods are permanently questioned and modified.</p>
	<p>The students in the class <cite>New Media</cite> see themselves as researchers, artists, designers and developers at the same time.</p>
	<p>Realising and publicly defending a deeply personal idea means also being able to realise the ideas of others. An outstanding developer of own concepts and ideas will have the ability to implement external ideas and concepts as well.</p>
	<p>There is no need to train service providers for an existing industry, but personalities who by discourse acquired skills which are constantly expanded and established – for oneself and others.</p>
	<p>By use of the Internet and support of the group these skills are exchanged, discussed and broadened self-educatedly. This provides a topicality and relevance which eludes institutions.</p>
	<p>To study “New Media” is to be an author. To learn from oneself, to learn seeing, speaking and thinking. To develop a culture of debate. To work on projects together. To mix media and ideas, to fail and learn from it. The aim is to shape a personal position and methodology.</p>
</section>
<!-- /section -->