<!-- article class="portfolio-detail" -->
<header>
	<h1>{{Title}}</h1>
	<p>{{{niceDate this}}}</p>
</header>
<section>
	{{{MarkdownedText}}}
</section>
<aside>
	{{#if Websites}}
		{{{portfoliolist Websites "Website" true}}}
	{{/if}}

	{{#if combinedProjects}}
		{{{portfoliolist combinedProjects "Project"}}}
	{{/if}}

	{{#if Exhibitions}}
		{{{portfoliolist Exhibitions "Exhibition"}}}
	{{/if}}
	
	{{#if Workshops}}
		{{{portfoliolist Workshops "Workshop"}}}
	{{/if}}
	
	{{#if Excursions}}
		{{{portfoliolist Excursions "Excursion"}}}
	{{/if}}
</aside>
<!-- /article -->