<!-- article class="gravity-item" -->
<!--<a href="/{{LinkTo}}/{{UglyHash}}/">
	<div>
		<p>{{ Title }}</p>
		{{#if PreviewImage}}
			{{#with PreviewImage.Urls._320}}
				<div><img src="{{Url}}" width="{{Width}}" height="{{Height}}"/></div>
			{{/with}}
		{{/if}}
	</div>
</a>-->
	{{#if PreviewImage}}
		<a href="/{{LinkTo}}/{{UglyHash}}/">
			{{#with PreviewImage.Urls._320}}
				<img src="{{Url}}" width="{{Width}}" height="{{Height}}"/>
			{{/with}}
		</a>
	{{/if}}
	<section>
		<header>
			<h1>
				<a href="/{{LinkTo}}/{{UglyHash}}/">{{Title}}</a>
			</h1>
			<p>{{nameSummary Persons}} {{niceDate this}}</p>
		</header>
		<p>
			{{{MarkdownedTeaser}}}
		</p>
		<a href="/{{LinkTo}}/{{UglyHash}}/" class="btn">Read More</a>
	</section>
<!-- /article -->