<!-- section class="packery-wrapper" -->
<div class="packery-test">
	<div class="packery">

		<!-- left top -->
		<div class="stamp corner left top"></div>
		<div class="stamp top"></div>
		<div class="stamp left"></div>

		<!-- top center -->
		<div class="stamp top center"></div>

		<!-- right top -->
		<div class="stamp corner right top"></div>
		<div class="stamp top right"></div>
		<div class="stamp right"></div>

		<!-- left center -->
		<div class="stamp left center"></div>

		<!-- left bottom -->
		<div class="stamp corner left bottom"></div>
		<div class="stamp bottom"></div>
		<div class="stamp left bottom"></div>

		<div class="stamp corner right bottom"></div>
		<div class="stamp bottom right-left"></div>
		<div class="stamp right bottom"></div>			

	</div>
</div>
<!-- /section -->