<!-- article class="portfolio-detail" -->
<header>
	<h1>{{Title}}</h1>
	<p>{{niceDate this}}</p>
</header>
<section>
	{{{MarkdownedText}}}
</section>
<aside>
	{{#if combinedProjects}}
		<h4>Projects</h4>
		{{{portfoliolist combinedProjects}}}
	{{/if}}

	{{#if Exhibitions}}
		<h4>Exhibitions</h4>
		{{{portfoliolist Exhibitions}}}
	{{/if}}
	
	{{#if Workshops}}
		<h4>Workshops</h4>
		{{{portfoliolist Workshops}}}
	{{/if}}
	
	{{#if Excursions}}
		<h4>Excursions</h4>
		{{{portfoliolist Excursions}}}
	{{/if}}
</aside>
<!-- /article -->