<!-- article class="portfolio-detail" -->
<header>
	<h1>{{Title}}</h1>
	<p>
		{{{nameSummary Persons}}}
	</p>
	<p>{{niceDate this true}}</p>
	{{#stringDiff "Project" ClassName}}
		{{{SpaceAndLocation}}}
	{{/stringDiff}}
	{{#if Websites}}
		<p>{{{commaSeparatedWebsites Websites}}}</p>
	{{/if}}
</header>
<section>
	{{{MarkdownedText}}}
</section>
<aside>
	
	{{#stringCompare "Project" ClassName}}
		{{#if Exhibitions}}{{{portfoliolist Exhibitions "Exhibition"}}}{{/if}}
		{{#if Workshops}}{{{portfoliolist Workshops "Workshop"}}}{{/if}}
		{{#if Excursions}}{{{portfoliolist Excursions "Excursion"}}}{{/if}}
		{{#if combinedProjects}}{{{portfoliolist combinedProjects "Project"}}}{{/if}}
	{{/stringCompare}}

	{{#stringCompare "Exhibition" ClassName}}
		{{#if combinedProjects}}{{{portfoliolist combinedProjects "Project"}}}{{/if}}
		{{#if Workshops}}{{{portfoliolist Workshops "Workshop"}}}{{/if}}
		{{#if Excursions}}{{{portfoliolist Excursions "Excursion"}}}{{/if}}
	{{/stringCompare}}

	{{#stringCompare "Excursion" ClassName}}
		{{#if Exhibitions}}{{{portfoliolist Exhibitions "Exhibition"}}}{{/if}}
		{{#if Workshops}}{{{portfoliolist Workshops "Workshop"}}}{{/if}}
		{{#if combinedProjects}}{{{portfoliolist combinedProjects "Project"}}}{{/if}}
	{{/stringCompare}}

	{{#stringCompare "Workshop" ClassName}}
		{{#if Exhibitions}}{{{portfoliolist Exhibitions "Exhibition"}}}{{/if}}
		{{#if Excursions}}{{{portfoliolist Excursions "Excursion"}}}{{/if}}
		{{#if combinedProjects}}{{{portfoliolist combinedProjects "Project"}}}{{/if}}
	{{/stringCompare}}

	{{{hrIfNeeded}}}

	{{#if Categories}}
		<h4>Categories</h4>
		<ul>
		{{#each Categories}}
			<li><a href="/portfolio/search/Category:{{Title}}/">{{Title}}</a></li>
		{{/each}}
		</ul>
	{{/if}}

	{{#if IsGroup}}
		{{{personlist Persons}}}
	{{/if}}
</aside>

<!--{{#if Code}}
<script type="text/javascript">
	$(document).one('code:kickoff', function (e) {
		{{{Code}}}

		e.stopImmediatePropagation();
	});
</script>
{{/if}}-->

<!-- /article -->