// @todo: copy with vendor prefixes!!!
// 
@-webkit-keyframes jump {
	0% {top: 0;}
	50% {top: -10px;}
	100% {top: 0;}
}

@-webkit-keyframes jumpborder {
	0% {border-bottom-width: 10px;}
	50% {border-bottom-width: 0;}
	100% {border-bottom-width: 10px;}
}

@-webkit-keyframes rainbow {
	0% {color: #FF0000;}
	10% {color: #FF8000;}
	20% {color: #FFFF00;}
	30% {color: #80FF00;}
	40% {color: #00FF00;}
	50% {color: #00FF80;}
	60% {color: #00FFFF;}
	70% {color: #0080FF;}
	80% {color: #0000FF;}
	90% {color: #8000FF;}
	100% {color: #FF0080;}
}