/**
 * @todo: check welche Zahlen bei den Caps benutzt werden;
 *
 */

// ! Typo

@font-face {
	font-family: 'AllerLight';
	src: url('/app/assets/webfonts/aller-light/aller_lt-webfont.eot');
	src: url('/app/assets/webfonts/aller-light/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/app/assets/webfonts/aller-light/aller_lt-webfont.woff') format('woff'),
		 url('/app/assets/webfonts/aller-light/aller_lt-webfont.ttf') format('truetype'),
		 url('/app/assets/webfonts/aller-light/aller_lt-webfont.svg#aller_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AllerLight-SmallCaps';
	src: url('/app/assets/webfonts/aller-light-smallcaps/aller_lt-webfont.eot');
	src: url('/app/assets/webfonts/aller-light-smallcaps/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/app/assets/webfonts/aller-light-smallcaps/aller_lt-webfont.woff') format('woff'),
		 url('/app/assets/webfonts/aller-light-smallcaps/aller_lt-webfont.ttf') format('truetype'),
		 url('/app/assets/webfonts/aller-light-smallcaps/aller_lt-webfont.svg#aller_lightsmallcaps') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aller';
	src: url('/app/assets/webfonts/aller-regular/aller_rg-webfont.eot');
	src: url('/app/assets/webfonts/aller-regular/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/app/assets/webfonts/aller-regular/aller_rg-webfont.woff') format('woff'),
		 url('/app/assets/webfonts/aller-regular/aller_rg-webfont.ttf') format('truetype'),
		 url('/app/assets/webfonts/aller-regular/aller_rg-webfont.svg#allerregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AllerRegular-SmallCaps';
	src: url('/app/assets/webfonts/aller-regular-smallcaps/aller_rg-webfont.eot');
	src: url('/app/assets/webfonts/aller-regular-smallcaps/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/app/assets/webfonts/aller-regular-smallcaps/aller_rg-webfont.woff') format('woff'),
		 url('/app/assets/webfonts/aller-regular-smallcaps/aller_rg-webfont.ttf') format('truetype'),
		 url('/app/assets/webfonts/aller-regular-smallcaps/aller_rg-webfont.svg#aller_regularsmallcaps') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Entypo';
	src: url('/app/assets/webfonts/entypo/entypo-webfont.eot');
	src: url('/app/assets/webfonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/app/assets/webfonts/entypo/entypo-webfont.woff') format('woff'),
		 url('/app/assets/webfonts/entypo/entypo-webfont.ttf') format('truetype'),
		 url('/app/assets/webfonts/entypo/entypo-webfont.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 * Verwende  den "Aller"-Font. Zurücksetzen auf den normalen Style
 */
.aller() {
	font-family: 'Aller', 'Helvetica', sans-serif;
	font-weight: normal;
}

/**
 * Verwende  den "Aller Light"-Font. Zurücksetzen auf den normalen Style
 */
.aller-light() {
	font-family: 'AllerLight', 'Helvetica', sans-serif;
	font-weight: normal;
}

/**
 * Verwende den "Entypo"-Font. Zurücksetzen auf den normalen Style
 */
.icon-font() {
	font-family: 'Entypo';
	font-weight: normal;
}

.icon-large() {
	font-size: @icon-large / @em;
}

.icon-excursion() {
	.icon-font;
	content: '\1F30E';	
}

.icon-exhibition() {
	.icon-font;
	content: '\E70A';	
}

.icon-project() {
	.icon-font;
	content: '\1F4C1';
}

.icon-workshop() {
	.icon-font;
	content: '\1F3A8';
}

/**
 * Kleinerer Schnitt
 */
.mini() {
	font-size: @font-small / @em;
	line-height: @line / @font-small * 1em;
	margin-top: 4 / @em;
}

/**
 * Kleinerer grauer Schnitt
 *
 * {@link .mini}
 */
.mini-light() {
	.mini;
	color: @grayLight;
}

/**
 * Kapitälichen
 */
.small-caps(@lightOrRegular) {
	font-family: "Aller@{lightOrRegular}-SmallCaps";
}
	//font-variant: small-caps;
	//-webkit-font-feature-settings: 'smcp';
	//-moz-font-feature-settings: 'smcp';
	
	/*-moz-font-feature-settings: 'smcp=1';
	-ms-font-feature-settings: 'smcp';
	-webkit-font-feature-settings: 'smcp';
	-o-font-feature-settings: 'smcp';
	font-feature-settings: 'smcp';*/

	//text-rendering: optimizeLegibility; // bug in google chrome http://code.google.com/p/chromium/issues/detail?id=51973

/**
 * Kleine Kapitälchen 
 *
 * {@link .small-caps}
 * {@link .mini}
 */
.mini-caps(@lightOrRegular) {
	.small-caps(@lightOrRegular);
	.mini;
}

/**
 * Kleine graue Kapitälchen 
 *
 * z.B. fürs Datum bei dem Kalender
 * {@link .mini-caps}
 */
.mini-caps-light(@lightOrRegular) {
	.mini-caps(@lightOrRegular);
	color: @grayLight;
}

/**
 * Große Kapitälchen
 *
 * Wird verwendet für Untertitel {@see "article header p"}
 * {@link .small-caps}
 */
.big-caps(@lightOrRegular) {
	.small-caps(@lightOrRegular);
	font-size: @bigCapsSize / @em;
	line-height: @line / @bigCapsSize * 1em;
	color: @gray;

	a {
		color: @gray;
	}
}

/**
 * Überchrift mit Kapitälchen
 *
 * Wird verwendet für {@see h3, aside h1}
 * {@link .small-caps}
 */
.caps-headline(@lightOrRegular) {
	font-size: @h3Size / @em;
	line-height: @h3LineHeight / @h3Size * 1em;

	// Abstand nach oben
	margin-top: @line / @h3Size * 1em;

	.small-caps(@lightOrRegular);
}

/**
 * Überschrift mit grauen Kapitälchen (detail/portfolio)
 */
.detailTooltipHeader(@lightOrRegular) {
	h1 {
		margin-bottom: -2 / @h1Size * 1em;
	}

	p {
		.big-caps(@lightOrRegular);
		padding-bottom: 1 / @em;
	}
}

/**
 * Link & Button
 *
 */
.link() {
	color: @linkColor;
	text-decoration: none;
	outline: none;
	.transition(~"color .3s ease-out");

	&:before,
	&:after {
		.transition(~"color .3s ease-out");
	}

	&:hover, // mouseover
	&:focus,
	&:active,
	&.active {
		color: @linkHover;
	}
}

.btn {
	.aller;
	.small-caps('Regular');
	color: @btnColor;
	display: inline-block;

	.transition(~"color .2s ease-out");

	// Pfeil
	&:after {
		display: inline-block;
		position: relative;
		font-family: 'Lucida Grande';
		content: "→";
		color: @btnArrow;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		bottom: -1.5 / @em;
		padding-left: 3 / @em;
		.transition(~"color .2s ease-out");
	}

	&:hover,
	&:focus,
	&:active {
		color: @btnHover;
		//border-bottom: 1px solid @btnColor;

		&:after {
			color: @btnArrowHover;
		}
	}
}

button.btn {
	background: transparent;
	border: none;
	padding: 0;
	outline: none;
}

/**
 * Liste
 *
 * @param int @width Die Breite der Liste
 */
.list(@width: 200) {
	width: @width / @em;
	margin-bottom: 2 * @line / @em;

	h1, h2, h3, h4 {
		.caps-headline('Regular');
	}

	ul {
		list-style: none;
	}

	li {
		margin-top: @line / 2 / @em;
	}
}

/**
 * Liste mit hellerem Text
 *
 * @param int @width Die Breite der Liste
 */
.list-light(@width: 200) {
	.list(@width);

	h1, h2, h3, h4 {
		color: @asideHeadline;
	}

	a {
		color: @asideColor;
	}
}


/**
 * Mehrspaltige Liste
 *
 * {@see http://weedygarden.net/demos/css3-column-lists/}
 *
 * @param int @cols 	Spaltenanzahl
 * @param int @width 	Breite innerhalb der sich die Spalten teilen können
 */
.list-columns(@cols: 2, @width: 200) {
	.list(@width);

	ul {
		@colGap: @columnGap / @em;

		.column-count(@cols); 
		.column-gap(@colGap);
	}
}



/**
 * Shortcut für die Felder des Editors
 */
.editable-dark-styles() {
	font-size: 14 / @em;
	width: 100%;
	.box-sizing(border-box);
	background-color: darken(@black, 3%);
	padding: @line / 4 / @em;
	border: none;
	margin-bottom: @line / 2 / @em;
	color: @editorSidebarColor;

	.placeholder(darken(@gray, 20%));
	.transition(~"color .2s ease-in-out, background .2s ease-in-out");

	&:hover {
		background: mix(lighten(@black, 5%), darken(@nmColor, 30%), 75%);
		.placeholder(@gray);
	}

	&:focus,
	&.active {
		color: #fff;
		outline: none;
		background: darken(@nmColor, 30%);
		.placeholder(@black);
	}
}

.button-dark-styles() {
	margin-top: @line / 4 / @em;
	color: #fff;

	&:after {
		color: darken(#fff, 10%);
	}

	&:hover,
	&:focus,
	&:active {
		color: @nmColor;
		//border-bottom: 1px solid @btnColor;

		&:after {
			color: @nmColor;
		}
	}
}



