/**
 * @todo: check welche Zahlen bei den Caps benutzt werden;
 *
 */

// ! Typo

@font-face {
	font-family: 'AllerLight';
	src: url('/dummies/webfonts/aller-light/aller_lt-webfont.eot');
	src: url('/dummies/webfonts/aller-light/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/dummies/webfonts/aller-light/aller_lt-webfont.woff') format('woff'),
		 url('/dummies/webfonts/aller-light/aller_lt-webfont.ttf') format('truetype'),
		 url('/dummies/webfonts/aller-light/aller_lt-webfont.svg#aller_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aller';
	src: url('/dummies/webfonts/aller-regular/aller_rg-webfont.eot');
	src: url('/dummies/webfonts/aller-regular/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/dummies/webfonts/aller-regular/aller_rg-webfont.woff') format('woff'),
		 url('/dummies/webfonts/aller-regular/aller_rg-webfont.ttf') format('truetype'),
		 url('/dummies/webfonts/aller-regular/aller_rg-webfont.svg#allerregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 * Verwende  den "Aller"-Font. Zurücksetzen auf den normalen Style
 */
.aller() {
	font-family: 'Aller', 'Helvetica', sans-serif;
	font-weight: normal;
}

/**
 * Verwende  den "Aller Light"-Font. Zurücksetzen auf den normalen Style
 */
.aller-light() {
	font-family: 'AllerLight', 'Helvetica', sans-serif;
	font-weight: normal;
}

/**
 * Kleinerer Schnitt
 */
.mini() {
	font-size: @font-small / @em;
	line-height: @line / @font-small * 1em;
	margin-top: 4 / @em;
}

/**
 * Kleinerer grauer Schnitt
 *
 * {@link .mini}
 */
.mini-light() {
	.mini;
	color: @grayLight;
}

/**
 * Kapitälichen
 */
.small-caps() {
	font-variant: small-caps;
	//text-rendering: optimizeLegibility; // bug in google chrome http://code.google.com/p/chromium/issues/detail?id=51973
}

/**
 * Kleine Kapitälchen 
 *
 * {@link .small-caps}
 * {@link .mini}
 */
.mini-caps() {
	.small-caps;
	.mini;
}

/**
 * Kleine graue Kapitälchen 
 *
 * z.B. fürs Datum bei dem Kalender
 * {@link .mini-caps}
 */
.mini-caps-light() {
	.mini-caps;
	color: @grayLight;
}

/**
 * Große Kapitälchen
 *
 * Wird verwendet für Untertitel {@see "article header p"}
 * {@link .small-caps}
 */
.big-caps() {
	.small-caps();
	font-size: @bigCapsSize / @em;
	line-height: @line / @bigCapsSize * 1em;
	color: @gray;
}

/**
 * Überchrift mit Kapitälchen
 *
 * Wird verwendet für {@see h3, aside h1}
 * {@link .small-caps}
 */
.caps-headline() {
	font-size: @h3Size / @em;
	line-height: @h3LineHeight / @h3Size * 1em;

	// Abstand nach oben
	margin-top: @line / @h3Size * 1em;

	.small-caps;
}

/**
 * Überschrift mit grauen Kapitälchen (detail/portfolio)
 */
.detailTooltipHeader() {
	h1 {
		margin-bottom: -2 / @h1Size * 1em;
	}

	p {
		.big-caps;
		padding-bottom: 1 / @em;
	}
}

/**
 * Link & Button
 *
 */
.link() {
	color: @linkColor;
	text-decoration: none;
	outline: none;

	&:hover, // mouseover
	&:focus,
	&:active,
	&.active {
		color: @linkHover;
	}
}

.btn {
	.aller;
	.small-caps;
	color: @btnColor;
	display: inline-block;

	// Pfeil
	&:after {
		display: inline-block;
		position: relative;
		font-family: 'Lucida Grande';
		content: "→";
		color: @btnArrow;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		bottom: -1.5 / @em;
		padding-left: 3 / @em;
	}

	&:hover,
	&:focus,
	&:active {
		color: @btnHover;
		//border-bottom: 1px solid @btnColor;

		&:after {
			color: @btnArrowHover;
		}
	}
}

/**
 * Liste
 *
 * @param int @width Die Breite der Liste
 */
.list(@width: 200) {
	width: @width / @em;
	margin-bottom: 2 * @line / @em;

	h1, h2, h3, h4 {
		.caps-headline;
	}

	ul {
		list-style: none;
	}

	li {
		margin-top: @line / 2 / @em;
	}
}

/**
 * Liste mit hellerem Text
 *
 * @param int @width Die Breite der Liste
 */
.list-light(@width: 200) {
	.list(@width);

	h1, h2, h3, h4 {
		color: @asideHeadline;
	}

	a {
		color: @asideColor;
	}
}


/**
 * Mehrspaltige Liste
 *
 * {@see http://weedygarden.net/demos/css3-column-lists/}
 *
 * @param int @cols 	Spaltenanzahl
 * @param int @width 	Breite innerhalb der sich die Spalten teilen können
 */
.list-columns(@cols: 2, @width: 200) {
	.list(@width);

	ul {
		@colGap: @columnGap / @em;

		.column-count(@cols); 
		.column-gap(@colGap);
	}
}




