.packery-wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	opacity: 0;

	//.transition(~"opacity .1s ease-in-out");

	&.loaded {
		opacity: 1;

	.packery-item {
		.transition(~"margin .15s cubic-bezier(0.825, 1.610, 0.890, 1.005)");
	}

	&.has-gravity .packery-item {
			margin: 0 !important;
		}
	}
}

.packery-test {
	position: relative;
}

.packery {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	//height: auto !important;
	width: 50%;
	margin: auto;

	// clearfix
	&:after {
		content: ' ';
		display: block;
		clear: both;
	}
}

.test {
	display: inline-block;
	border: 5px solid red;

	&.elpos {
		border-color: green;
	}

	&.center {
		border-color: yellow;
	}
}

.stamp {
	@cornerWidth: 15%;
	position: absolute;
	background: rgba(255, 0, 0, .2);
	width: @cornerWidth / 2;
	height: @cornerWidth / 2;
	left: @cornerWidth;
	top: @cornerWidth;
	right: @cornerWidth;

	&.top {
		top: 0;
		&.right {
			right: @cornerWidth;
		}

		&.center {
			left: 50%;
			margin-left: @cornerWidth / -4;
			height: @cornerWidth / 4;
		}
	}

	&.right {
		left: auto;
		right: 0;
	}

	&.left {
		left: 0;
		right: auto;

		&.center {
			top: 50%;
			margin-top: @cornerWidth / -4;
			width: @cornerWidth / 4;
		}
	}

	&.bottom {
		bottom: 0;
		top: auto;

		&.left {
			bottom: @cornerWidth;
		}

		&.right {
			bottom: @cornerWidth;
		}

		&.right-left {
			left: auto;
			right: @cornerWidth;
		}
	}

	&.corner {
	//	background: rgba(0, 255, 0, .8);
		width: @cornerWidth;
		height: @cornerWidth;

		&.right {
			right: 0;
		}

		&.bottom {
			bottom: 0;
		}
	}
}

.packery-item {
	display: inline-block;
	.box-sizing(border-box);

	&> a {
		display: block;
		border: none;
		background: rgba(255,0,0,.5);

		&:hover {
			border: none;
		}

		img {
			display: block;
		}
	}

	section {
		display: none;
	}
}