/**
 *
 *    000000  0000000000    000000000000000000
 *    000000  0000000000    00000000000000000000
 *    000000      000000    000000   00000  000000
 *    000000      000000    000000     000  000000
 *     00000      000000    000000       0  000000
 *       000      000000    000000          000000
 *         0      000000    000000          000000
 *
 *    Neue Medien - Kunsthochschule Kassel
 *    http://neuemedienkassel.de
 *
 */

@import 'variables';		// variables
@import 'assets';			// base64 encodete Files
@import 'definitions';		// Vorbebaute Definitionen
@import 'lesshat';			// LESSHat 					http://lesshat.com
@import 'ggs';				// golden grid system		http://goldengridsystem.com
@import 'tooltip';


// ! - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body {
	background: @bgColor;
	.aller-light;
	color: @black;
	width: 100%;
}

.placeholder(@color) {
	&::-webkit-input-placeholder { color: @color; }
	&::-moz-placeholder { color: @color; } /* firefox 19+ */
	&:-ms-input-placeholder { color: @color; } /* ie */
	&:-moz-placeholder { color: @color; }

	.transition(~"color .3s ease-in-out");
}

.clearfix() {
	/**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	
	&:after {
		clear: both;
	}
	
	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */

	*zoom: 1;
}

// temporärer Abstand um bei den Tests im Grid zu starten.
article {
//	margin-top: 7 / @em;
}

iframe {
	max-width: 100%;
}


// ! --- Typo ----------------------------------------------

// für Überschrift 1-3 die "Aller" Font benutzen
h1, h2, h3 {
	.aller;
}

/** 
 * Überschrift ersten Rangs
 */
h1 {
	font-size: @h1Size / @em;
	line-height: @h1LineHeight / @h1Size * 1em;
	margin-bottom: -1 / @h1Size * 1em;
}

/** 
 * Überschrift zweiten Rangs
 */
h2 {
	font-size: @h2Size / @em;
	line-height: @h2LineHeight / @h2Size * 1em;

	// Abstand nach oben
	margin-top: @line / @h2Size * 1em;
}

/**
 * Überschrift dritten Rangs
 *
 * Verwendet die .caps-headline Definition {@see definitions.less}
 */
h3 {
	.caps-headline;
}

// kein Abstand bei aufeinander folgenden Überschriften
h1 + h2,
h2 + h3 {
	margin-top: 0;
}

cite {
	.small-caps;
	font-style: normal;
}

strong {
	.aller();
}

/**
 * Links
 */
a {
	.link();
}

/**
 * Artikel-Element
 */
article {

	// Artikel Überschriftsblock
	header { 
		margin-bottom: @line / @em;

		.detailTooltipHeader();
	}

	// Links im Text
	a {
		.transition(~"color .3s 0 ease-out, border-bottom-color .3s .2s ease-out");
		border-bottom: 1px dashed @gray;

		&:hover,
		&:focus,
		&:active {
			border-bottom: 1px solid @linkHoverBorder;
		}
	}
}

/**
 * Related-Box
 *
 */
aside {
	.list-light(200);
}

// ! --- User Widget ---------------------------------------
#user-widget {
	position: fixed;
	top: (@line / @em);
	right: (@line / @em) * 2;
}


// ! --- Badge ---------------------------------------------

.badge {
	display: inline-block;
	background: @badgeBg;
	padding: (@line / @em) (@badgePaddingHorizontal / @em);
	position: fixed;
	z-index: 999999999;

	.transition(~"padding @{logoSmallTransition} ease-in-out, height @{logoSmallTransition} ease-in-out");

	//.hadow(~"0 2px 5px rgba(0,0,0,.3)");

	// Logo
	> a {
		display: block;
		width: @logoWidth;
		height: @logoHeight;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		.logo-white;

		text-indent: -99999em;
		.transition(~"width @{logoSmallTransition} ease-in-out, height @{logoSmallTransition} ease-in-out");

		//.transition(~"height 1s ease-in, width 1s ease-in");

		&:hover,
		&:focus,
		&:active,
		&.active {
			.logo-nmcolor;
		}
	}

	nav {
		height: auto;
		overflow: hidden;
		opacity: 1;
		.transition(~"height @{logoSmallTransition} ease-in.out, opacity @{logoSmallTransition} ease-in-out");
	}

	// Navigation
	ul {
		list-style: none;
		margin-top: 7 / @em;

		a {
			.link();
			color: @badgeLinkColor;
			display: block;
		}
	}
}


// ! --- Kalendar ------------------------------------------

.calendar {
	.list-light(200);
	text-align: right;

	h1 {
		margin-top: 0;
	}

	time {
		.mini-caps-light;
		display: block;
	}

	ul {
		margin-bottom: @line / 2 / @em;
	}
}


// ! --- Person --------------------------------------------

.person {
	// clearfix
	overflow: hidden;

	// dummy image
	.img {
		display: block;
		background-color: pink;
		width: 85 / @em;
		height: 85 / @em;
		float: left;
		margin-right: 20 / @em;

		img {
			max-width: 100%;
		}
	}

	h1 {
		margin-top: 21 / @em;
		font-size: @font-size / @em;
	}

	p {
		.mini-light;
	}
}


// ! - - - - - - - - - - - - - - - - - - - - - - - - - - - -


// ! --- Global Page Construction --------------------------

#wrapper {
	margin: 0 @column;
	//overflow: hidden;
	//height: 100%;
	min-height: 100%;
	position: relative;

	.clearfix();

	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

#main,
#layout {
	position: absolute;
	min-height: 100%;
	width: 100%;
}

#main {
	.transition(~"opacity .3s ease-in-out");
	opacity: 1;

	&.loading {
		opacity: 0;
	}
}

.isLoading #main * {
	cursor: default !important;
}

span[data-picture] {
	display: block;

	span {
		display: block;
	}

	img {
		height: auto;
	}
}

#spinner-target {
	height: @spinnerDimension;
	width: @spinnerDimension;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: (@spinnerDimension / -2) 0 0 @spinnerDimension / -2;
	opacity: 0;

	&.active {
		opacity: 1;
	}
}


// ! --- Tooltip -------------------------------------------

@qtipAniOffset: 10;

.qtip {
	position: absolute;
	left: -28000em;
	top: -28000em;
	display: none;
	max-width: 400px;
	min-width: 50px;
	direction: ltr;
	box-shadow: none;
	padding: 0;
	opacity: 0;
}

// Theme
.qtip-default {
	background-color: @bgColor;
}

.editor-popover {
	background-color: @editorPopoverBg;
	color: @editorPopoverColor; 
	opacity: 1;
}

.qtip-content {
	position: relative;
	padding: @line / @em;
	overflow: hidden;
	word-wrap: break-word;

	header {
		margin-bottom: @line * .5 / @em;

		.detailTooltipHeader();
	}

	a.btn {
		margin-top: @line * .5 / @em;
	}
}

.qtip-focus {
	//display: block;
}

.isLoading .qtip {
	opacity: 0 !important;
}

/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar{
	filter: none;
	-ms-filter: none;
}

.qtip .qtip-tip{
	margin: 0 auto;
	overflow: hidden;
	z-index: 10;
	
}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip{
	visibility: hidden;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas{
	position: absolute;

	color: #123456;
	background: transparent;
	border: 0 dashed transparent;
}

.qtip .qtip-tip canvas{ top: 0; left: 0; }

.qtip .qtip-tip .qtip-vml{
	behavior: url(#default#VML);
	display: inline-block;
	visibility: visible;
}

/*
.qtip[aria-hidden="true"] {

	&.qtip-pos-lb {
		margin-left: -@qtipAniOffset / @em;
	}
	&.qtip-pos-rb {
		margin-left: @qtipAniOffset / @em;
	}
}

.qtip[aria-hidden="false"] {

	&.qtip-pos-lb {
		margin-left: 0;
	}
	&.qtip-pos-rb {
		margin-left: 0;
	}
}
*/


// ! --- Gravity -------------------------------------------

#gravity-container {
	position: relative;
	height: 100%;
}

.gravity {
	position: absolute;
	min-height: 100%;
	//background: darken(@bgColor, 5%);
	.wrapper;

	&> img,
	.gravity-item {
		.gravity-item();
	}
}

.gravity-item() {
	position: relative;
	display: inline-block;
	opacity: 0;
	.transition(~"opacity .2s ease-in-out");
	z-index: 14000;

	// on item loaded
	&[data-gravity-item].loaded {
		opacity: 1;

		&> a {
			background: @bgColor;

			img {
				min-width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}

	&> a {
		position: relative;
		display: block;
		border: none;

		.transition(~"padding .2s ease-out, margin .2s ease-out"); 

		padding: 0;
		margin: 0;

		img {
			display: block;
			//opacity: .5;
		}
	}

	// @todo: fix z-index delay on fade out
	&.has-tooltip {
		z-index: 16000;

		&> a {
			padding: @gravityItemBorder / @em;
			margin: -@gravityItemBorder / @em;
		}

		/*img {
			opacity: 1;
		}*/
	}

	&> section[role="tooltip-content"] {
		display: none;
	}
}


// ! --- Home ----------------------------------------------

// fallback
.main .gravity {
	.columnsWidth(8, 8);
}

.index {
	.gravity {
		.columnsWidth(8, 6);
	}

	.calendar {
		//float: right;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: @line * -7 / @em;
		//display: inline-block;
		//vertical-align: middle;
		.wrapper;
		.columnsWidth(8, 2);
	}
}

.portfolio {
	.gravity {
		.columnsWidth(8, 8);
	}
}

.about {
	.gravity {
		.columnsWidth(8, 8);
	}

	article {
		margin: (@line * 4 / @em) + @typoPrefix 0;
		overflow: hidden;
	}

	.statement {
		float: right;
		.columnsWidth(8, 4);
		.wrapper;
		margin-right: 100% / 8 * 1;

		p:last-child {
			margin-bottom: @line * 1 / @em;
		}
	}

	.group-image {
		float: right;
		.wrapper;
		width: 100% / 8 * 3;

		&.loaded img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	.person {
		float: left;
		.columnsWidth(8, 3);
		.wrapper;

		a {
			display: block;

			img {
				display: block;
				.transition(~"opacity .2s ease-out");
				opacity: 1;
			}

			&:hover {
				img {
					opacity: .7;
				}
			}
		}
	}

	.students,
	.alumni {
		float: left;
		.list-columns(2, 500);
		.columnsWidth(8, 3);
		.wrapper;
	}

	.students {
		margin-left: 100% / 8 * 1;
	}

	.alumni {
		margin-right: 100% / 8 * 1;
	}
}

.detail {
	article {
		@articleMarginLeft: 1.5;
		@articleMarginRight: .5;

		@articleMarginCols: @articleMarginLeft + @articleMarginRight;

		@marginTop: (@line * 4 / @em);
		@marginRight: 100% / 8 * @articleMarginRight;
		@marginBottom: @marginTop;
		@marginLeft: 100% / 8 * @articleMarginLeft;

		margin: @marginTop @marginRight 0 @marginLeft;
		padding-bottom: @marginBottom;
		overflow: hidden;

		header  {
			.wrapper;
		}

		section {
			float: left;
			.columnsWidth(8 - @articleMarginCols, 4);
			.wrapper;

			img {
				display: inline-block;
				//margin-top: @line / @em;
				max-width: 100%;
			}

			span[data-picture] {
				display: block;
			}
			span[data-picture],
			p {
				margin-bottom: @line / @em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		aside {
			display: inline-block;
			.columnsWidth(8 - @articleMarginCols, 2);
			.wrapper;
		}
	}
}

.person-info {
	@fullWidth: 6;
	@imageWidth: 1.5;

	// - - - - - - - 
	
	.columnsWidth(8, 6);
	.clearfix();

	> section:first-child {
		float: left;
		.columnsWidth(8, @imageWidth);

		a {
			display: block;
			border: none;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	> section:last-child {
		.columnsWidth(8, @fullWidth - @imageWidth);
		padding: 0 0 (@line / @em) (@line / @em);
		float: left;
	}

	.websites {
		margin-top: @line / @em;

		list-style: none;
	}
}


// ! --- EDITOR --------------------------------------------

.editor {

	.badge {
		padding: (@line / 2 / @em) (@badgePaddingHorizontal / 2 / @em);

		&> a {
			width: @logoSmallWidth;
			height: @logoSmallHeight;
		}

		nav {
			height: 0;
			opacity: 0;
		}
	}
}

/*input[type="search"] {

	&::-webkit-search-cancel-button {
		background-color: red;
		color: red;
	}
}*/

.editor .overview {
	@width: 4;

	position: absolute;
	top: 30%;
	left: 50%;
	.columnsWidth(8,4);

	margin-left: -@width / 2 / 8 * 100%;

	article {
		.gravity-item();
		opacity: 1;
		.clearfix;

		&> a,
		section.meta {
			float: left;
		}

		&> :first-child:not(:last-child) {
			margin-right: @line / @em;
		}
	}
}


// ! --- Editables ----------------------------------------

*[data-editor-type][editor-handled-by] {
	cursor: pointer;
	.transition(~"background-color .2s ease-in-out");
	background: lighten(@nmColor, 25%);

	&.active,
	&:hover {
		background: @nmColor;
		color: @black;
	}
}

.editor-popover {

	&.markdown .qtip-content {
		padding: @line / 2 / @em;
	}

	textarea.preview {
		.aller-light;
		background: transparent;
		padding: @line / 2 / @em;
		border: none;
		resize:none;
		outline: none;

		color: #fff;
		.box-sizing(border-box);
		width: 100%;
		min-height: 400px;

		.transition(~"background-color .2s .1s ease-in-out");
		cursor: pointer;

		&:focus {
			background: rgba(255, 255, 255, .2);
			cursor: auto;
		}
	}
}


// ! --- Editor Sidebar -----------------------------------

#editor-sidebar-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
}

.editor-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	min-height: 100%;
	max-height: 100%;
	background: @editorSidebarBg;
	.transition(~"width @{editorSlideTransition} ease-in-out");


	&:target,
	&.open {
		.columnsWidth(8, 2);
	}

	.editor-sidebar-content {
		max-height: 100%;
		//position: fixed;
		overflow: scroll;
		.box-sizing(border-box);
		padding: 0 (@line / @em) (@line / @em);

		&> *:nth-child(2) {
			//margin-top: @line * 5 / @em;
		}

		&.filtered {
			section:not(.active) {
				height: 0;
				overflow: hidden;
				margin: 0;

			}
		}

		&.scrollbox {
			padding: 0 0 (@line / @em);
		}

		header {
			background: darken(@black, 5%);
			padding: (@line / 4 / @em) (@line / @em);
			margin-bottom: @line / @em;
			margin: 0 (-@line / @em) (@line / @em);
			margin-left: 0;
			//.box-sizing(content-box);
			border-bottom: 1px solid darken(@nmColor, 30%);

			&.ui-list-fakeheader {
				margin-left: 0;
				.box-sizing(content-box);
			}

			h2 {
				.big-caps;
				color: #fff;
				margin: 0;
			}
		}

		section {
			margin-bottom: @line * 2 / @em;
		}

		.ui-list > section {
			padding: 0 (@line / @em);

			section {
				margin-bottom: @line / @em; 
				border-bottom: 1px solid darken(@gray, 30%);
				padding-bottom: @line / 3 / @em;

				&:last-child {
					border-bottom: none;
					margin-bottom: 0;
				}
			}
		}
	}

	.scrollbox {
		position: relative;
		overflow: auto;
		width: 100%;
		max-height: 100%;
		.box-sizing(border-box);
		//margin: 50px auto;

		/*
		background:
			// Shadow covers
			linear-gradient(@editorSidebarBg 30%, rgba(255,255,255,0)),
			linear-gradient(rgba(255,255,255,0), @editorSidebarBg 70%) 0 100%,
		
			// Shadows
			radial-gradient(50% 0, farthest-side, rgba(0,0,0,1), rgba(0,0,0,0)),
			radial-gradient(50% 100%,farthest-side, rgba(0,0,0,1), rgba(0,0,0,0)) 0 100%;

		background:
			// Shadow covers
			linear-gradient(@editorSidebarBg 30%, rgba(255,255,255,0)),
			linear-gradient(rgba(255,255,255,0), @editorSidebarBg 70%) 0 100%,
		
			// Shadows
			radial-gradient(farthest-side at 50% 0, rgba(0,0,0,1), rgba(0,0,0,0)),
			radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,1), rgba(0,0,0,0)) 0 100%;

		background-repeat: no-repeat;
		background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
		// Opera doesn't support this in the shorthand
		background-attachment: local, local, scroll, scroll;*/
	}

	header {
		width: 100%;
		background: @editorSidebarBg;
		padding: (@line / @em) (@line / @em) 0;
		.box-sizing(border-box);
	}

	header.editor-header {
		.clearfix;

		.img {
			@dim: @line * 2.5 / @em;
			background: darken(@gray, 50%);
			display: block;
			width: @dim;
			height: @dim;
			float: left;
			margin: 0 (@line / 2 / @em) (@line / @em) 0;

			img {
				max-width: 100%;
				height: auto;
			}
		}
		hgroup {
			float: left;
			color: @gray;
		}
	}

	h1, h2, h3 {
		color: #fff;
	}

	a {
		.link();
		color: #fff;
	}

	select.filter {
		width: 100%;
		margin: @line / 2 / @em 0;
	}

	&> header {
		border-bottom: 1px solid @gray;
	}

	input[type="search"] {
		outline: none;

		width: 100%;
		-webkit-appearance: textfield;
		background: transparent;
		border: none;
		border-bottom: 1px solid darken(@gray, 20%);

		padding: @line / 2 / @em 0;

		color: @gray;
		.small-caps;

		.placeholder(darken(@gray, 20%));

		.transition(~"border .3s ease-in-out, color .3s ease-in-out");

		&::-webkit-search-decoration {
			-webkit-appearance: none;
		}

		&:focus {
			.placeholder(darken(@gray, 10%));
			border-bottom-color: @gray;
		}
	}

	.project-list {
		list-style: none;
		margin: 0;
		font-size: 14 / @em;

		li {
			&:last-child a {
				border-bottom: none;
			}

			a {
				color: darken(#fff, 20%);
				display: block;
				padding: (@line / 4 / @em) (@line / 2 / @em);
				margin: 0 -(@line / 2 / @em);
				border-bottom: 1px dashed darken(@gray, 30%);

				.transition(~"color .2s ease-in-out, background-color .2s ease-in-out");

				&:hover {
					color: @nmColor;
					background: darken(@black, 3%);
				}
			}
		}
	}

	.image-list {
		@gap: 10px;

		list-style: none;
		clear: both;

		-webkit-column-count		: 1;
		column-count				: 1;
		-moz-column-count			: 1;
		-webkit-column-gap			: @gap;
		-moz-column-gap				: @gap;
		column-gap					: @gap;

		li {
			display: inline-block;
			width: 100%;
			margin-bottom: 10px;
			-webkit-column-break-inside	:avoid;
			-moz-column-break-inside	:avoid;
			-o-column-break-inside		:avoid;
			-ms-column-break-inside		:avoid;
			column-break-inside			:avoid;
		}

		a {
			background: gray;
			display: block;
			width: 100%;

			&:hover {
				background: @nmColor;
				& > * {
					opacity: .8;
				}
			}

			&.selected {
				background: @nmColor;
				& > * {
					opacity: .4;
				}
			}

			&> * {
				.user-select(none);
				.transition(~"opacity .2s ease-in-out");
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}

	// defaults
	.editor-header.hideable,
	.editor-sidebar-content {
		opacity: 0;
		.transition(~"opacity .2s ease-in-out");
	}

	// close without opacity transition
	&:not(.open) {
		&.opened {
			.editor-sidebar-container {
				&> header,
				.editor-sidebar-content {
					opacity: 0;
					.transition(none);
				}
			}
		}
		.editor-sidebar-content {
			&[class*="columns-"] {
				opacity: 0;
				.transition(none);
			}
		}
	}

	// fade in
	&.open.opened {	
		header.editor-header,
		.editor-sidebar-content[class*="columns-"] {
			opacity: 1;
		}
		
		.editor-sidebar-content {
			header.hideable {
				opacity: 1;
			}
		}
		//}
	}

	.editor-sidebar-content {
		&.columns-2 {
			.image-list {
				column-count			: 2;
				-webkit-column-count	: 2;
				-moz-column-count		: 2;
			}
		}

		&.columns-3 {
			.image-list {
				column-count			: 3;
				-webkit-column-count	: 3;
				-moz-column-count		: 3;
			}
		}

		&.columns-4 {
			.image-list {
				column-count			: 4;
				-webkit-column-count	: 4;
				-moz-column-count		: 4;
			}
		}

		&.columns-5 {
			.image-list {
				column-count			: 5;
				-webkit-column-count	: 5;
				-moz-column-count		: 5;
			}
		}

		&.columns-6 {
			.image-list {
				column-count			: 6;
				-webkit-column-count	: 6;
				-moz-column-count		: 6;
			}
		}

		&.columns-7 {
			.image-list {
				column-count			: 7;
				-webkit-column-count	: 7;
				-moz-column-count		: 7;
			}
		}

		&.columns-8 {
			.image-list {
				column-count			: 8;
				-webkit-column-count	: 8;
				-moz-column-count		: 8;
			}
		}
	}

	> nav {
		@width: 60;

		position: absolute;
		left: -@width / @em;
		top: 50%;
		width: @width / @em;
		margin-top: -@line * 6 / @em;

		background: @editorSidebarBg;
		border-right: 1px solid transparent;
		text-align: right;
		//padding-left: @line / 2 / @em;
		.box-sizing(border-box);
		.transition(~"border-color .3s");

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			color: #fff;

			.transition(~"height .5s ease-in-out");

			&:last-child {
				border: none;
			}
		}

		li {
			display: block;
		}

		a {
			margin: @line / 2 / @em;
			height: 30 / @em;
			color: transparent;
			//font-size: 1px;
			//text-indent: -99999999999em;
			display: block;
			background-repeat: no-repeat;
			background-position: 0 50%;
			background-size: 100%;

			span {
				display: none;
			}
		}
	}

	&.open {
		&> nav {
			border-right: 1px solid mix(@bgColor, @editorSidebarBg);
			//margin-left: -1px;
		}
	}
	&:not(.is-editor) > nav ul + ul {
		opacity: 0;
		height: 0; 
	}

	&.is-editor > nav ul + ul {
		opacity: 1;
		height: auto;
		border-top: 1px solid mix(@bgColor, @editorSidebarBg);
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"] {
		font-size: 14 / @em;
		width: 100%;
		.box-sizing(border-box);
		background: darken(@black, 5%);
		padding: @line / 4 / @em;
		border: none;
		margin-bottom: @line / 2 / @em;
		color: #fff;

		.transition(~"color .2s ease-in-out, background .2s ease-in-out");

		&:focus {
			color: #fff;
			outline: none;
			background: darken(@nmColor, 30%);
			.placeholder(@black);
		}
	}

	input[type="password"] {
		margin-top: @line / 2 / @em;
	}

	input[type="password"] + input[type="password"] {
		margin-top: 0;
	}

	#pw-forceable {
		color: @gray;
	}

	h3 {
		margin-bottom: @line / 3 / @em;
	}

	textarea {
		display: none;
	}

	.markdown-editor-preview {
		font-size: 14 / @em;
		color: @gray;
	}

	.btn {
		margin-top: @line / 4 / @em;
		color: #fff;

		&:after {
			color: darken(#fff, 10%);
		}

		&:hover,
		&:focus,
		&:active {
			color: @nmColor;
			//border-bottom: 1px solid @btnColor;

			&:after {
				color: @nmColor;
			}
		}
	}

	#uploadzone {
		position: absolute;
		background: @editorSidebarBg;
		border: @line / @em solid @editorSidebarBg;
		.box-sizing(border-box);
	}
}

.dropzone {
	position: relative;
	display: none;
	z-index:1000;
	height:100%;
	width:100%;

	&.dragover,
	&.uploading {
		&> *:not(.progress):not(.progress-text) {
			display: none;
		}
	}

	&.uploading,
	&.dragover {
		display: block;
		background-color: darken(@nmColor, 30%) !important;
	}

	&.failed {
		background-color: darken(@errorColor, 30%) !important;

		.progress {
			background: @errorColor;
		}
	}

	&.done {
		.progress {
			height: 100%;
		}

		.progress-text {
			@dim: 80;
			width: @dim / @em;
			height: @dim / @em;
			line-height: @dim / @em;
			margin: (-@dim / 2 / @em) 0 0 (-@dim / 2 / @em);
			.border-radius(@dim / @em);
		}
	}

	&> * {
		.user-select(none);
	}

	.progress {
		position: absolute;
		bottom: 0;
		background: darken(@nmColor, 10%);
		border: 0;
		width: 100%;
		height: 0;

		.transition(~"height .2s linear");
	}

	.progress-text {
		@dim: 65;
		@fontFactor: 1.3;

		position: absolute;
		left: 50%;
		top: 50%;
		text-align: center;
		width: @dim / @em;
		height: @dim / @em;
		line-height: @dim / @em;
		margin: (-@dim / 2 / @em) 0 0 (-@dim / 2 / @em);
		.border-radius(@dim / @em);

		font-size: @font-size * @fontFactor / @em;
		font-style: italic;
		background: @black;
		//padding: @line / 2 / @em;
		//.box-sizing(border-box);
		color: #fff;

		.transition-property(~"all");
		.transition-duration(.3s);
		.transition-timing-function(cubic-bezier(0.675, -0.170, 0.410, 1.650));
	}
}

body.dragover #uploadzone {
	display: block !important;

	&.uploading,
	&.dragover {
		display: block !important;
	}
}

body.drag-inline.dragover #uploadzone {
	display: none !important;

	&.uploading,
	&.dragover {
		display: none !important;
		.transition(none) !important;
	}

	.progress {
		.transition(none) !important;
	}
}

// ! create project

.project-type-list {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	list-style: none;
	margin-left: -25%;
	margin-top: -@line * 2.5 / @em;
	overflow: hidden;
	z-index: 100;

	.transition(~"margin .15s ease-in-out");

	&.active {
		margin-top: -@line * 5.5 / @em;
	}

	li {
		display: block;
		float: left;
		width: 25%;
		text-align: center;

		a {
			display: block;
			.aller;
			.small-caps;
			color: @btnColor;
			.user-select(none);

			&:before {
				display: block;
				width: 100%;

				.icon-large;
				padding: (@line * .5 / @icon-large * 1em) 0;
				color: @gray;
			}

			&:hover,
			&:focus,
			&.active {
				color: @btnHover;

				&:before {
					color: @nmColor;
				}
			}
		}

		a {
			&.excursion:before {
				.icon-excursion;
			}

			&.exhibition:before {
				.icon-exhibition;
			}

			&.project:before {
				.icon-project;
			}

			&.workshop:before {
				.icon-workshop;
			}
		}
	}
}

form.create-project {
	background: lighten(@black, 68%);
	padding: @line / 2 / @em;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	list-style: none;
	margin-left: -25%;
	margin-top: -@line * 2.5 / @em;
	opacity: 0;
	text-align: center;
	z-index: 50;
	.user-select(none);
	//.border-radius(@line / 8 / @em);

	.transition(~"all .15s ease-in-out");
	//font-size: @font-size * 1.2 / @em;
	

	&.active {
		@offset: @line * .7 / @em;
		margin-top: -@line * 2.5 / @em + @offset;
		margin-top: ;
		opacity: 1;
		.transition(~"opacity .15s .05s ease-in-out");
	}

	input {
		border: none;
		background: lighten(@bgColor, 5%);
		width: 60%;
		padding: @line / 4 / @em;
		margin-right: 5%;
		outline: none;
		.box-sizing(border-box);
		.transition(~"background-color .3s");
		z-index: 90;
		cursor: pointer;

		&:focus {
			background: #fff;
			cursor: auto;
		}

		&[disabled] {
			color: @gray;
			background-color: @bgColor;
		}
	}

	.form-error {
		position: absolute;
		top: @line / @em;
		left: 1px;
		padding: (@line / 8 / @em) (@line / 4 / @em);
		max-width: 100%;
		background: @errorColor;
		.box-sizing(border-box);
		margin: @line / 2 / @em;
		color: #fff;
		opacity: 0;
		z-index: 80;
		text-align: left;

		.transition(~"all .1s ease-in-out");


		&.active {
			top: @line * 1.25 / @em;
			opacity: 1;
		}

		h1 + p {
			margin-top: @line / @em;
		}
	}
	button {
		text-align: left;
		.box-sizing(border-box);
		width: 34%;
	}
}


// ! recycle bin

#recycle-bin {
	@width: 250px;
	@height: 180px;

	background: darken(@black, 5%);
	width: @width;
	height: @height;
	position: fixed;
	top: 50%;
	left: -@width;
	border: (@line / @em) solid @editorSidebarBg;
	.box-sizing(border-box);
	margin-top: -@height / 2;

	.icon-recycle-bin-02;
	background-repeat: no-repeat;
	background-position: 85px 45px;

	.transition-property(~"left, background-color");
	.transition-duration(.3s);
	.transition-timing-function(cubic-bezier(0.675, -0.170, 0.410, 1.350));

	&:before {
		content: '';
		position: absolute;
		width: 60px;
		height: 25px;
		top: 25px;
		left: 84px;
		//z-index: -1;

		.icon-recycle-bin;
		background-repeat: no-repeat;
		.transition(~"transform .15s ease-in-out");
		.rotate(0);
		
		.transform-origin(-5px 20px);
		//background-color: pink;
	}

	&.active,
	&.done,
	&.processing {
		left: -50px;
	}

	&.dragover {
		background-color: darken(@nmColor, 30%);
		
		&:before {
			.rotate(-80deg);
		}
	}

	&.done {
		background-color: @nmColor;
	}
}
		

/*
 *
 *  Four-column grid active
 *  ----------------------------------------
 *  Margin   | #  1   2   3   4   |   Margin
 *  5.55555% | %  25  50  75  100 | 5.55555%
 *
 */