/**
 *
 *    000000  0000000000    000000000000000000
 *    000000  0000000000    00000000000000000000
 *    000000      000000    000000   00000  000000
 *    000000      000000    000000     000  000000
 *     00000      000000    000000       0  000000
 *       000      000000    000000          000000
 *         0      000000    000000          000000
 *
 *    Neue Medien - Kunsthochschule Kassel
 *    http://neuemedienkassel.de
 *
 */

@import 'variables';		// variables
@import 'assets';			// base64 encodete Files
@import 'definitions';		// Vorbebaute Definitionen
@import 'lesshat';			// LESSHat 					http://lesshat.com
@import 'ggs';				// golden grid system		http://goldengridsystem.com


// ! - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body {
	background: @bgColor;
	.aller-light;
	color: @black;
	width: 100%;
}

// temporärer Abstand um bei den Tests im Grid zu starten.
article {
//	margin-top: 7 / @em;
}


// ! --- Typo ----------------------------------------------

// für Überschrift 1-3 die "Aller" Font benutzen
h1, h2, h3 {
	.aller;
}

/** 
 * Überschrift ersten Rangs
 */
h1 {
	font-size: @h1Size / @em;
	line-height: @h1LineHeight / @h1Size * 1em;
	margin-bottom: -1 / @h1Size * 1em;
}

/** 
 * Überschrift zweiten Rangs
 */
h2 {
	font-size: @h2Size / @em;
	line-height: @h2LineHeight / @h2Size * 1em;

	// Abstand nach oben
	margin-top: @line / @h2Size * 1em;
}

/**
 * Überschrift dritten Rangs
 *
 * Verwendet die .caps-headline Definition {@see definitions.less}
 */
h3 {
	.caps-headline;
}

// kein Abstand bei aufeinander folgenden Überschriften
h1 + h2,
h2 + h3 {
	margin-top: 0;
}

cite {
	.small-caps;
	font-style: normal;
}

/**
 * Links
 */
a {
	.link();
}

/**
 * Artikel-Element
 */
article {

	// Artikel Überschriftsblock
	header { 
		margin-bottom: @line / @em;

		h1 {
		margin-bottom: -2 / @h1Size * 1em;
		}

		p {
			.big-caps;
			padding-bottom: 1 / @em;
		}
	}

	// Links im Text
	a {
		border-bottom: 1px dashed @gray;

		&:hover,
		&:focus,
		&:active {
			border-bottom: 1px solid @linkHoverBorder;
		}
	}
}

/**
 * Related-Box
 *
 */
aside {
	.list-light(200);
}


// ! --- Badge ---------------------------------------------

.badge {
	display: inline-block;
	background: @badgeBg;
	padding: (@line / @em) (@badgePaddingHorizontal / @em);
	position: fixed;
	z-index: 100;

	// Logo
	> a {
		display: block;
		width: @logoWidth;
		height: @logoHeight;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		.logo-white;

		text-indent: -99999em;

		&:hover,
		&:focus,
		&:active,
		&.active {
			.logo-nmcolor;
		}
	}

	// Navigation
	ul {
		list-style: none;
		margin-top: 7 / @em;

		a {
			.link();
			color: @badgeLinkColor;
			display: block;
		}
	}
}


// ! --- Kalendar ------------------------------------------

.calendar {
	.list-light(200);
	text-align: right;

	h1 {
		margin-top: 0;
	}

	time {
		.mini-caps-light;
		display: block;
	}

	ul {
		margin-bottom: @line / 2 / @em;
	}
}


// ! --- Person --------------------------------------------

.person {
	// clearfix
	overflow: hidden;

	// dummy image
	.img {
		display: block;
		background-color: pink;
		width: 85 / @em;
		height: 85 / @em;
		float: left;
		margin-right: 20 / @em;
	}

	h1 {
		margin-top: 21 / @em;
		font-size: @font-size / @em;
	}

	p {
		.mini-light;
	}
}

// ! - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#main {
	margin: 0 @column;
	overflow: hidden;
}
// ! --- Home ----------------------------------------------


.home {
	.gravity {
		display: inline-block;
		.wrapper;
		.columnsWidth(8, 6);
	}

	.calendar {
		float: right;
		display: inline-block;
		.wrapper;
		.columnsWidth(8, 2);
		/*display: table-cell;
    	vertical-align: middle;*/
	}
}

.about {
	.text {
		float: right;
		.columnsWidth(8, 4);
		.wrapper;
		margin-right: 100% / 8 * 1;
	}

	.group-image {
		max-width: 100% / 8 * 3;
		float: right;
		.wrapper;
	}

	.person {
		float: left;
		.columnsWidth(8, 3);
		.wrapper;
	}

	.students,
	.alumni {
		float: left;
		.list-columns(2, 500);
		.columnsWidth(8, 3);
		.wrapper;
	}

	.alumni {

	}
}

/*
 *
 *  Four-column grid active
 *  ----------------------------------------
 *  Margin   | #  1   2   3   4   |   Margin
 *  5.55555% | %  25  50  75  100 | 5.55555%
 *
 */