
// ! --- Golden Grid System ---

@font-size	: 16;					// Schriftgröße
@font-small	: 14;					// kleine Schriftgröße (fürs Kalender-Datum)
@line		: 24;					// Zeilenhöhe
@columns	: 18;					// Anzahl der Spalten
@column		: 100% / @columns;		// Spalten-Breite
@em			: @font-size * 1em;		// em kontante

@typoPrefix	: 7 / @em;

.columnsWidth(@base: 18, @cols: 9) {
	width: 100% / @base * @cols;
} 

// ! --- Colors ---

@bgColor: #e6e6e6;
@nmColor: #d9df20;
@errorColor: #d93920;

@gray: #919191;
@grayLight: #ababab;

@black: #262626;

@asideHeadline: #696969;
@asideColor: #505050;

// Links
@linkColor: @black;
@linkHover: @nmColor;
@linkHoverBorder: #000;

@btnColor: #525252;
@btnHover: @black;
@btnArrow: #747474;
@btnArrowHover: @btnColor;

@bg: mix(@bgColor, @black, 90%);

// ! --- Schriftgrößen ---

// h1
@h1Size: 24;
@h1LineHeight: 32;

// h2
@h2Size: 19;
@h2LineHeight: @line;

// h3
@h3Size: 18;
@h3LineHeight: @line;

// big caps
@bigCapsSize: 18;
@bigCapsLineHeight: @line;


// ! --- Listen ---

@columnGap: 40;


// ! --- Badge ---
@badgeBg: @black;
@badgeLinkColor: #fff;
@badgePaddingHorizontal: 20;

@logoWidth: 115 / @em;
@logoHeight: @line * 3 / @em;

@logoSmallFactor: .5;
@logoSmallWidth: @logoWidth * @logoSmallFactor;
@logoSmallHeight: @logoHeight * @logoSmallFactor;

@logoSmallTransition: '.3s';


// ! --- Gravity ---

@gravityItemBorder: 10;


// ! --- Spinner ---
@spinnerDimension: 100px;

// ! --- Icons ---
@icon-large: 75;

// ! --- Editor ---
@editorSidebarBg: @black;
@editorSidebarColor: darken(#fff, 20%);
@editorSlideTransition: '.3s';

@editorPopoverBg: @black;
@editorPopoverColor: #fff;

@editorEditableBg: lighten(@bgColor, 5%);
@editorDropzoneBg: darken(@bgColor, 5%);
@editorEditableHover: mix(@editorEditableBg, @nmColor, 70%);