
// ! --- Golden Grid System ---

@font-size	: 16;					// Schriftgröße
@line		: 24;					// Zeilenhöhe
@columns	: 18;					// Anzahl der Spalten
@column		: 100% / @columns;		// Spalten-Breite
@em			: @font-size * 1em;		// em kontante