
// ! --- Golden Grid System ---

@font-size	: 16;					// Schriftgröße
@line		: 24;					// Zeilenhöhe
@columns	: 18;					// Anzahl der Spalten
@column		: 100% / @columns;		// Spalten-Breite
@em			: @font-size * 1em;		// em kontante


// ! --- Colors ---

@nmColor: #d9df20;

@gray: #919191;
@grayLight: #ababab;

@black: #262626;


// Links
@linkColor: @black;
@linkHover: @nmColor;
@linkHoverBorder: #000;


// ! --- Schriftgrößen ---

// h1
@h1Size: 24;
@h1LineHeight: 32;

// h2
@h2Size: 19;
@h2LineHeight: @line;

// h3
@h3Size: 16;
@h3LineHeight: @line;

// big caps
@bigCapsSize: 18;
@bigCapsLineHeight: @line;